*{
  box-sizing: border-box;
  font-family:monospace;
}
body{
  padding: 0%;
  margin: 0%;
 
  
}
.section{
  padding: 0%;
  margin: 0%;
  position: relative;
  background-color: blueviolet;
  width: 100%;
  height: 750px;
}
.main{
position: absolute;
top:20%;
left: 50%;
transform: translate(-50%,-50%);
}
#cityname{
  padding:15px 20px;
  border-radius: 6px;
  border-bottom:1px solid black;
  background-color: white;
  color: blueviolet;
  font-size: larger;

}

#sub{
  background-color:red;
  padding: 10px 12px;
  text-align: center;
  border-radius: 6px;
  border:none;
  color:white;
  cursor: pointer;
  font-size: 20px;
  width: 100px;
  height: 50px;
}
h2 {
  font-size: 40px;
  font-family: monospace;

}
.weather {
  width:300px;
  height: 400px;
  background-color: white;
  border-radius:6px;
  box-shadow:0 4px 8px 0 rgba(0,0,0.20),0 6px 20px rgba(0,0,0.19);
  position: absolute;
  top: 35%;
  left: 40%;
  text-align: center;
  display: none;
  
  
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
 
ul{
  list-style: none;
}
.city-temperature{
  font-size: 50px;
  margin-top: 20px;
}
figcaption{
  font-size: 30px;
  font-family: monospace;
}
.countryname{
  background-color: orange;
  border-radius: 8px;
  padding: 4px 8px;
}

